@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: Vazir;
  src: url("../../public/fonts/Vazirmatn/static/Vazirmatn-Regular.ttf");
}

@font-face {
  font-family: Lalezar;
  src: url("../../public/fonts/Lalezar/Lalezar-Regular.ttf");
}

@font-face {
  font-family: Exo_2;
  src: url("../../public/fonts/Exo_2/static/Exo2-Medium.ttf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: Vazir
}

@theme {
  --breakpoint-phone: 360px;
  --breakpoint-xs: 420px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
}

.animated-text {
  background: linear-gradient(to right, #222831 50%, #0069a8 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  animation: shine 8s linear infinite;
  font-family: Exo_2
}

@keyframes shine {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: -100%;
  }
}

@layer base {
  * {
    @apply leading-7;
    font-family: var(--font-primary);
  }

  html {
    scroll-behavior: smooth
  }

  body {
    @apply mx-auto min-h-screen;
  }
}

@layer utilities {

  /* BOOK FLOAT */
  @keyframes floatImg {
    0% {
      transform: translateY(0) scale(1);
    }

    50% {
      transform: translateY(8px) scale(0.97);
    }

    100% {
      transform: translateY(0) scale(1);
    }
  }

  .floating-image {
    animation: floatImg 4s ease-in-out infinite;
  }

  /* Vertical float — up/down */
  @keyframes floatBoxVertical {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-8px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .floating-box {
    animation: floatBoxVertical 4s ease-in-out infinite;
  }
}