@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: Vazir;
  src: url("../../public/fonts/Vazirmatn/static/Vazirmatn-Regular.ttf");
}

@font-face {
  font-family: Lalezar;
  src: url("../../public/fonts/Lalezar/Lalezar-Regular.ttf");
}

@font-face {
  font-family: Exo_2;
  src: url("../../public/fonts/Exo_2/static/Exo2-Regular.ttf");
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-primary: Vazir
}

@theme {
  --breakpoint-phone: 360px;
  --breakpoint-xs: 420px;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-2xl: 1400px;
}

.animated-gradient {
  background: linear-gradient(270deg, #D0E4FA, #fff, #D0E4FA);
  background-size: 600% 600%;
  animation: gradientFlow 12s ease infinite;
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

@keyframes shine {
  0% {
    background-position: 100%;
  }

  100% {
    background-position: -100%;
  }
}

@layer base {
  * {
    @apply leading-7;
    font-family: var(--font-primary);
  }
  
  body {
    @apply max-w-[1400px] mx-auto min-h-screen;
  }
}